{{ if .Site.Params.mermaid }}
<script src="https://cdn.jsdelivr.net/npm/mermaid@10.6.1/dist/mermaid.min.js"></script>
<script>
    mermaid.initialize({
        startOnLoad: true,
        theme: 'default',
        themeVariables: {
            primaryColor: '#f9f9f9',
            primaryTextColor: '#333',
            primaryBorderColor: '#333',
            lineColor: '#333',
            secondaryColor: '#006100',
            tertiaryColor: '#fff'
        },
        flowchart: {
            useMaxWidth: true,
            htmlLabels: true
        },
        sequence: {
            useMaxWidth: true,
            showSequenceNumbers: true
        },
        gantt: {
            useMaxWidth: true
        }
    });
</script>
{{ end }}